@tailwind base;

body {
  font-family: "Playfair Display", serif;
  background: #f6f4f1;
}

p {
  line-height: 1.69;
}

.cta {
  @apply bg-bg
    text-dark
    px-4
    py-2
    rounded-3xl
    font-sans
    font-semibold
    tracking-wider
    border-dark
    border-2
    ml-4;
}

.cta:hover {
  @apply bg-accent border-2 border-accent text-white px-4 py-2 rounded-3xl font-sans tracking-wider font-semibold;
}

.cta-active {
  @apply bg-accent border-2 border-accent text-white px-4 py-2 rounded-3xl font-sans tracking-wider font-semibold;
}

@tailwind components;
@tailwind utilities;
